{{>partials/header }}
<div class="container">
  <h1 class="h1-search h1-top">Editar usuário</h1>
  <div class="content">
    <div class="content-search">
      <img src="image/img_form.jpg" alt="image de cadastro">
    </div>
    <div class="content-inputs">
      <form method="GET" action="/editar" class="form-search">
        <input type="search" name="nomeSrc" placeholder="Buscar usuario para editar" id="inputSc" />
        <input type="submit" value="Buscar" class="btn-search" id="btnBusca" />
      </form>
      <div class="div-res-edit">
        {{#showUser }}
          {{#finded }}
            <div></div>
              <p><strong>Nome:</strong> {{ nome }}</p>
              <p><strong>Cpf:</strong> {{ cpf }}</p>
            </div>
            <div class="div-edit-form">
              <form method="PUT" action="/editarUser" class="form">
                <input type="text" name="nome" placeholder="Editar nome" />
                <input type="text" name="telefone" placeholder="Editar Telefone" />
                <input type="text" name="cpf" placeholder="Editar Cpf" />
                <input type="text" name="endereco" placeholder="Editar Endereço" />
                <div class="input-ne">
                  <input type="text" name="numero" placeholder="N°" />
                  <input type="text" name="estado" placeholder="Estado" />
                  <input type="submit" value="Editar" class="btn-search" />
                </div>
              </form>
            </div>
          {{/finded }}
        {{/showUser }}
        {{^showUser }}
        {{/showUser }}
      </div>
    </div>
  </div>
</div>
{{>partials/footer}}