{{>partials/header }}
  <div class="container">
    <h1 class="h1-search">Registar usuários</h1>
    <div class="content">
      <img src="image/img_form.jpg" alt="image de cadastro" />
      <form method="POST" action="/cadastrarNv" class="form">
        <input type="text" name="nome" placeholder="Nome Completo" />
        <input type="text" name="telefone" placeholder="Telefone (12) 12345-6789" />
        <input type="text" name="cpf" placeholder="Cpf 123.456.789-90" />
        <input type="text" name="endereco" placeholder="Endereço" />
        <div class="input-ne">
          <input type="text" name="numero" placeholder="N°" />
          <input type="text" name="estado" placeholder="Estado" />
          <input type="submit" value="Cadastrar" class="btn-search" />
        </div>
      </form>
    </div>
  </div>
{{>partials/footer }}