<li>
  <p><strong>Nome:</strong> {{ nome }}</p>
  <p><strong>Telefone:</strong> {{ telefone }}</p>
  <p><strong>Cpf:</strong> {{ cpf }}</p>
  <p><strong>Rua:</strong> {{ endereco }} {{ numero }} - {{ estado }}</p>
</li>